html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  color: #0e0e0e;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}
.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
header {
  color: #0e0e0e;
  text-align: center;
}
.backgroundText {
  margin-top: -90px;
  color: #808080;
  opacity: 0.2;
  z-index: -1;
  text-align: center;
  font-size: 54px;
}
#gameboard {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
#gameboard table {
  border-collapse: separate;
  cellspacing: 0;
  background-color: transparent;
}
#gameboard table table td,
#gameboard input {
  overflow: hidden;
  border-spacing: 5px;
  border-collapse: separate;
  background-color: #1fbad6;
  width: 28.333333333333336px;
  height: 28.333333333333336px;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}
#gameboard input {
  background-color: transparent;
}
#gameboard input[type=number]::-webkit-inner-spin-button,
#gameboard input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#gameboard .static {
  background-color: #0e0e0e;
  color: #fff;
}
#gameboard table .conflict {
  background-color: #790d0d;
}
#gameboard .conflict td {
  background-color: #bd4242;
}
#gameboard .conflict td .static {
  background-color: #0e0e0e;
}
#controls {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
#controls button {
  margin: 1%;
  display: flex-box;
  border: 2px solid #1fbad6;
  color: #fff;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  border-radius: 4px;
  width: 45.5%;
  height: 36px;
  vertical-align: middle;
  background-color: #0e0e0e;
  text-align: center;
}
