html,
body {
  font-size: 18px;
  position: relative;
  margin: 0;
  padding: 0;
  color: #0e0e0e;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
a:visited {
  color: #1fbad6;
}
.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
header {
  color: #0e0e0e;
  text-align: center;
}
.backgroundText {
  margin-top: -90px;
  font-size: 54px;
  color: #808080;
  opacity: 0.2;
  z-index: -1;
  text-align: center;
}
#gameboard {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
#gameboard table {
  border-collapse: separate;
  cellspacing: 0;
  background-color: transparent;
}
#gameboard table table td,
#gameboard input {
  width: 28.333333333333336px;
  height: 28.333333333333336px;
  font-size: 18px;
  border-spacing: 5px;
  overflow: hidden;
  border-collapse: separate;
  background-color: #1fbad6;
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
#gameboard input {
  background-color: transparent;
}
#gameboard input[type=number]::-webkit-inner-spin-button,
#gameboard input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#gameboard .static {
  background-color: #0e0e0e;
  color: #fff;
}
#gameboard table .conflict {
  background-color: #790d0d;
}
#gameboard .conflict td {
  background-color: #bd4242;
}
#gameboard .conflict td .static {
  background-color: #0e0e0e;
}
#controls {
  width: 300px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
#controls button {
  height: 36px;
  margin: 1%;
  display: flex-box;
  border: 2px solid #1fbad6;
  color: #fff;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  border-radius: 4px;
  width: 45.5%;
  vertical-align: middle;
  background-color: #0e0e0e;
  text-align: center;
}
footer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}
footer a i {
  font-size: 27px;
}
@media (min-width: 500px) {
  html,
  body {
    font-size: 36px;
  }
  .backgroundText {
    margin-top: -180px;
    font-size: 108px;
  }
  #gameboard {
    width: 500px;
    height: 500px;
  }
  #gameboard table table td,
  #gameboard input {
    width: 50.55555555555556px;
    height: 50.55555555555556px;
    font-size: 36px;
    border-spacing: 5px;
  }
  .container {
    width: 500px;
  }
  #controls {
    width: 500px;
    padding: 5px;
  }
  #controls button {
    height: 72px;
  }
}
