  </div>
  </body>
<footer>
  <div class="container">
    <p></p>
  </div>
  <script>
    var board = [ {{board}} ] ;
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="/static/src/sudoku.js"></script>
  <script src="/static/src/storage_manager.js"></script>
  <script src="/static/src/game_manager.js"></script>
  <script src="/static/src/main.js"></script>

</footer>