<!doctype html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
     <link type="text/css" rel="stylesheet" href="/static/css/index.css"/>
     <title>Sudoku</title>
  </head>
  <body>
    <div class="container">
    <div id="backgroundText">数独</div>
    <div id="headline">
      <header>
        <h1>Sudoku</h1>
      </header>
    </div>
  </div>